.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

button {
  background-color: #13cfb0;
  border-radius: 28px;
  border: 1px solid #79a39d;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

button:hover {
  background-color: #0ab79ade;
}

button:active {
  position: relative;
  top: 1px;
}

button:hover {
  background-color: #13cfb0;
}

button:active {
  position: relative;
  top: 1px;
}


.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
